.a1{
    position: absolute;
    width: 813px;
    height: 152px;
    left: 65px;
    top:120px;
    
    font-family: cursive;
    font-style: normal;
    font-weight: 1000;
    font-size: 25px;
    line-height: px;
    
    color: black;
}