.boxfe{
    background-color: #EDEFEF;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;    
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 450px;
    height: 540px;
    left: 502px;
    top: 140px;
  }
  .feed{
    position: absolute;
    width: 813px;
    height: 152px;
    left: 100px;
    top: 0px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 160px;
    
    color: #22a6f0;
  }
  .input-containerfe {
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
  }
  .inputfe{
    position: absolute;
    width: 500px;
    height: 30px;
    left: 100px;
    top: 150px;
  }
  .inputfec{
    position: absolute;
    width: 500px;
    height: 00px;
    left: 100px;
    top: 230px;
  }
  .input-fieldfe{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
    background-color: whitesmoke;
  }
  .box1 div {
    width: 550px;
  }
  .box1 div b {
    position: relative;
    display: flex;
    padding: 15px 20px;
    color: black;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin: 50px auto;
    justify-content: center;
    letter-spacing: 4px;
    width: 65px;
    height: 25px;
    overflow: hidden;
    left: -45px;
    top: 230px;
}
  
  .box1 b:hover {
    background: #22a6f0;
    color: #fff;
    border-radius: 5px;
    
  }
  
  .box1 b span {
    position: absolute;
    display: block;
  }
  
  .box1 b span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #22a6f0);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .box1 b span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #22a6f0);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .box1 b span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #22a6f0);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .box1 b span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #22a6f0);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  .submitfe{
    background-color: transparent;
    color:black;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 200px;
    top: 0px;
    text-align: center;
  }
  .submitfe:hover{
    background: #22a6f0;
    color: #fff;
    border-radius: 5px;
  }