.b{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 50px;
  top: -70px;
  
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 1500;
  font-size: 30px;
  line-height: 160px;
  
  color: black;
  }
  .text1{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 100px;
  top: 25px;
  
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 1500;
  font-size: 20px;
  line-height: 30px;
  
  color: black;
  }
  .b1{
    background-color:white;
    padding: 15px 20px;
    border: none;
    opacity: 50%;
    position: absolute;
    width: 1900px;
    height: 100px;
    left: 0px;
    top: 825px;
  }