body{
    background: linear-gradient(to bottom right,black 10%,#22a6f0 90%);
    min-height: 125vh;
    min-width: 0vh;
    position: relative;
  }
    .f{
      position: absolute;
    width: 813px;
    height: 152px;
    left: 45px;
    top: -50px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 1500;
    font-size: 60px;
    line-height: 160px;
    
    color: #22a6f0;
    }
    .t{
        position: absolute;
      width: 813px;
      height: 152px;
      left: 600px;
      top: -130px;
      
      font-family: 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 1500;
      font-size: 60px;
      line-height: 160px;
      
      color: black;
      }
      
      .h1{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 250px;
        top: 0px;
        text-align: center;
      }
      .h1:hover{
        color: red;
      }
      .h2{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 350px;
        top: -50px;
        text-align: center;
      }
      .h2:hover{
        color: red;
      }
      .h3{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 450px;
        top: -100px;
        text-align: center;
      }
      .h3:hover{
        color: red;
      }
      .h4{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 550px;
        top: -150px;
        text-align: center;
      }
      .h4:hover{
        color: red;
      }
      .h5{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 680px;
        top: -200px;
        text-align: center;
      }
      .h5:hover{
        color: red;
      }
      .h6{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 800px;
        top: -250px;
        text-align: center;
      }
      .h6:hover{
        color: red;
      }
      .h7{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 930px;
        top: -300px;
        text-align: center;
      }
      .h7:hover{
        color: red;
      }
      .h8{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 1050px;
        top: -350px;
        text-align: center;
      }
      .h8:hover{
        color: red;
      }
      .h9{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: relative;
        width: 100px;
        height: 50px;
        left: 1200px;
        top: -400px;
        text-align: center;
      }
      .h9:hover{
        color: red;
      }
      .n1{
        background-color: white;
        padding: 15px 20px;
        border: none;
        opacity: 50%;
        position: absolute;
        width: 1900px;
        height: 80px;
        left: 0px;
        top: 0px;
      }
      
      .n2{
        background-color: black;
        border: none;
        opacity: 100%;
        position: absolute;
        width: 1900px;
        height: 25px;
        left: 0px;
        top: 100px;
      }
      .Loginf{
        background-color: transparent;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.9;      
        border-radius: 15px 20px;
        border-style: solid;
        border-color: black;
        position: absolute;
        width: 100px;
        height: 50px;
        left: 1250px;
        top: -75px;
        text-align: center;
      }
      .Loginf:hover{
        background-color: black;
        opacity: 1;
      }
      .contactf{
        position: absolute;
      width: 813px;
      height: 152px;
      left: 30px;
      top: -60px;
      
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 160px;
      
      color: black;
    }
    .emailf{
      position: absolute;
    width: 813px;
    height: 152px;
    left: 30px;
    top: -30px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160px;
    
    color: black;
  }
  .phonef{
      position: absolute;
    width: 813px;
    height: 152px;
    left: 30px;
    top: 0px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160px;
    
    color: black;
  }
  .signupf{
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 1400px;
    top: -75px;
    text-align: center;
  }
  .signupf:hover{
    background-color: black;
    opacity: 1;
  }