body{
    background: linear-gradient(to bottom right,black 10%,#22a6f0 90%);
    min-height: 125vh;
    min-width: 0vh;
    position: absolute;
  }
    .f1{
      position: fixed;
    width: 813px;
    height: 152px;
    left: 45px;
    top: -30px;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 1500;
    font-size: 60px;
    line-height: 160px;
    
    color: #22a6f0;
    }
    .t1{
        position: fixed;
      width: 813px;
      height: 152px;
      left: 600px;
      top: -130px;
      
      font-family: 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 1500;
      font-size: 60px;
      line-height: 160px;
      
      color: black;
      }
      
      .h11{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 250px;
        top: 0px;
        text-align: center;
      }
      .h11:hover{
        color: red;
      }
      .h21{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 350px;
        top: -50px;
        text-align: center;
      }
      .h21:hover{
        color: red;
      }
      .h31{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 450px;
        top: -100px;
        text-align: center;
      }
      .h31:hover{
        color: red;
      }
      .h41{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 550px;
        top: -150px;
        text-align: center;
      }
      .h41:hover{
        color: red;
      }
      .h51{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 680px;
        top: -200px;
        text-align: center;
      }
      .h51:hover{
        color: red;
      }
      .h61{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 800px;
        top: -250px;
        text-align: center;
      }
      .h61:hover{
        color: red;
      }
      .h71{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 930px;
        top: -300px;
        text-align: center;
      }
      .h71:hover{
        color: red;
      }
      .h81{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 1050px;
        top: -350px;
        text-align: center;
      }
      .h81:hover{
        color: red;
      }
      .h91{
        background-color: transparent;
        color:white;
        padding: 0px 20px;
        border: none;
        cursor: pointer;    
        border-radius: 15px 20px;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 1200px;
        top: -400px;
        text-align: center;
      }
      .h91:hover{
        color: red;
      }
      .n11{
        background-color: white;
        padding: 15px 20px;
        border: none;
        opacity: 50%;
        position: fixed;
        width: 1900px;
        height: 80px;
        left: 0px;
        top: -100px;
      }
      
      .n21{
        background-color: black;
        border: none;
        opacity: 100%;
        position: fixed;
        width: 1900px;
        height: 25px;
        left: 0px;
        top: 100px;
      }
      .Loginf1{
        background-color: transparent;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.9;      
        border-radius: 15px 20px;
        border-style: solid;
        border-color: black;
        position: fixed;
        width: 100px;
        height: 50px;
        left: 1250px;
        top: -75px;
        text-align: center;
      }
      .Loginf1:hover{
        background-color: black;
        opacity: 1;
      }
      .contactf1{
        position: fixed;
      width: 813px;
      height: 152px;
      left: 30px;
      top: -60px;
      
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 160px;
      
      color: black;
    }
    .emailf1{
      position: fixed;
    width: 813px;
    height: 152px;
    left: 30px;
    top: -30px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160px;
    
    color: black;
  }
  .phonef1{
      position: fixed;
    width: 813px;
    height: 152px;
    left: 30px;
    top: 0px;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160px;
    
    color: black;
  }
  .signupf1{
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: fixed;
    width: 100px;
    height: 50px;
    left: 1400px;
    top: -75px;
    text-align: center;
  }
  .signupf1:hover{
    background-color: black;
    opacity: 1;
  }