
  .t1{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 150px;
  top: -10px;
  
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 1500;
  font-size: 60px;
  line-height: 160px;
  
  color: #22a6f0;
  }
  .t2{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 65px;
  top: 445px;
  
  font-family: cursive;
  font-style: normal;
  font-weight: 1000;
  font-size: 25px;
  line-height: 160px;
  
  color: black;
  }
  .t4{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 65px;
  top: 445px;
  
  font-family: cursive;
  font-style: normal;
  font-weight: 1000;
  font-size: 25px;
  line-height: 160px;
  
  color: black;
  }
  .t3{
    background-color: transparent;
    color:black;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    position: absolute;
    font-family: cursive;
    font-style: normal;
  font-weight: 1000;
  font-size: 25px;
    width: 100px;
    height: 50px;
    left: 290px;
    top: 508px;
    text-align: center;
  }
  .t4{
    position: absolute;
  width: 813px;
  height: 152px;
  left: 340px;
  top: 445px;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 160px;
  
  color: black;
  }
  .backs{
    background-color: black;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 550px;
    height: 700px;
    left: 700px;
    top: 10px;
  }
  .backs1{
    background-color: #EDEFEF;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;    
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 450px;
    height: 540px;
    left: 502px;
    top: 170px;
  }
  .input-container {
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    width: 100%;
    margin-bottom: 15px;
  }
  .input{
    position: absolute;
    width: 500px;
    height: 30px;
    left: 100px;
    top: 150px;
  }
  .input-field{
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 15px 20px;
    background-color: whitesmoke;
  }
  .img{
    padding-top: 240px;
    padding-left: 850px;
    justify-content: center;
    display: flex;
  }
  .container-image{
    background-color: white;
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
  }
  .User{
    height: 40px;
    width: 40px;
    border-radius: 100px;
  }
  .button{
    background-color: transparent;
    color:black;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    position: absolute;
    width: 100px;
    height: 50px;
    left: 200px;
    top: 300px;
    text-align: center;
  }
  .button:hover{
    background: #22a6f0;
    color: #fff;
    border-radius: 5px;
  }
  .button1{
    background-color: transparent;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;      
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;
    width: 150px;
    height: 50px;
    left: 180px;
    top: 400px;
    text-align: center;
  }
  .button1:hover{
    background-color: black;
    color: white;
    opacity: 1;
  }
  .button2{
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    font-size: 16px;
    border-radius: 15px 20px;
    border-style: solid;
    border-color: black;
    position: absolute;

    left: 330px;
    top: 515px;
 }

  a:link{
    color: black;
  }
  a:hover{
    background-color: black;
  }
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
  }
  
  .box div {
    width: 550px;
  }
  .box div a {
    position: relative;
    display: flex;
    padding: 15px 20px;
    color: black;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin: 50px auto;
    justify-content: center;
    letter-spacing: 4px;
    width: 65px;
    height: 25px;
    overflow: hidden;
    left: -45px;
    top: 230px;
}
  
  .box a:hover {
    background: #22a6f0;
    color: #fff;
    border-radius: 5px;
    
  }
  
  .box a span {
    position: absolute;
    display: block;
  }
  
  .box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #22a6f0);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #22a6f0);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #22a6f0);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #22a6f0);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
